.apartment {
    @include flex-column;
    @include margin-side;
    box-sizing: border-box;

    @include media-tablet {
        @include margin-side-tablet;
    }

    @include media-mobile {
        @include margin-side-mobile;
    }
}

.apartment-informations {
    @include flex-justify-content(space-between);
    margin-bottom: 25px;

    @include media-mobile {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .apartment-title {
        @include color-font-size($red, 2.25rem);
        margin-bottom: 10px;

        @include media-mobile {
            font-size: 1.125rem;
        }
    }
    .apartment-location {
        font-size: 1.125rem;
        margin-bottom: 20px;

        @include media-mobile {
            font-size: 0.875rem;
        }
    }

    .host-and-rating {
        text-align: right;
        gap: 30px;

        @include media-mobile {
            @include flex-justify-content(space-between);
            flex-direction: row-reverse;
            align-items: center;
            margin-top: 15px;
        }
    }
}



