@mixin size-weight($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin background-padding($background, $padding) {
    background-color: $background;
    padding: $padding;
}

@mixin shadow-before($height, $background) {
    position: absolute;
    content: "";
    height: $height;
    width: 100%;
    top: 0;
    background: $background;
}

@mixin heart($bottom, $left, $translateY) {
    position: absolute;
    bottom: $bottom;
    left: $left;
    transform: translateY($translateY);
    font-size: 1.313rem;
}

@mixin fontshrikhand($size) {
    font-family: $font-title;
    font-size: $size;
    font-weight: 400;
}

@mixin childcenter {
    align-items: center;
    justify-content: center;
}

@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $gap;
}

@mixin flex-space-between($align-items) {
    display: flex;
    justify-content:space-between;
    align-items: $align-items;
}

@mixin grid-column($gtc, $gap) {
    display: grid;
    grid-template-columns: $gtc;
    align-items: center;
    justify-items: start;
    gap: $gap;
}

@mixin radius-top($radius) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin radius-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@mixin height-width($height, $width) {
    height: $height;
    width: $width;
}

@mixin text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

// Responsive :
@mixin media-very-small {
    @media (max-width:330px) {@content;}
}

@mixin media-tablet {
    @media (min-width:767px) {@content;}
}

@mixin media-desktop {
    @media (min-width:1024px) {@content;}
}

@mixin media-desktop-large {
    @media (min-width:1440px) {@content;}
}

