@mixin margin-side {
    margin-left: 100px;
    margin-right: 100px;
}

@mixin margin-side-tablet {
    margin-left: 50px;
    margin-right: 50px;
}

@mixin margin-side-mobile {
    margin-left: 20px;
    margin-right: 20px;
}

@mixin margin-top-bottom($margin-top, $margin-bottom) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

@mixin position-arrows-slideshow {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    padding: 20px;
}

@mixin size-weight($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin h2-collapse($font-size) {
    color: $white;
    font-weight: 700;
    padding: 0 15px;
    font-size: $font-size;
}

@mixin childcenter {
    align-items: center;
    justify-content: center;
}

@mixin flex-justify-content($justify-content) {
    display: flex;
    justify-content: $justify-content;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin color-font-size($color, $font-size) {
    color: $color;
    font-size: $font-size;
}

@mixin position-absolute-bottom-left($bottom, $left) {
    position: absolute;
    bottom: $bottom;
    left: $left;
}

@mixin font-size-padding($font-size, $padding) {
    font-size: $font-size;
    padding: $padding;
}

@mixin grid-cards-container($background-color, $grid-template-columns, $padding, $gap, $margin-bottom) {
    background-color: $background-color;
    grid-template-columns: $grid-template-columns;
    padding: $padding;
    gap: $gap;
    margin-bottom: $margin-bottom;
}

@mixin height-margin-bottom($height, $margin-bottom) {
    height: $height;
    margin-bottom: $margin-bottom;
}

@mixin background-color-border-radius-padding($background-color, $border-radius, $padding) {
    background-color: $background-color;
    border-radius: $border-radius;
    padding: $padding;
}

// Responsive :
@mixin media-small-mobile {
    @media (max-width:337px) {@content;}
}

@mixin media-mobile {
    @media (max-width:767px) {@content;}
}

@mixin media-tablet {
    @media (max-width:1024px) {@content;}
}
