.menu__dishes {
    @include flex-column(12px);
    flex-wrap: nowrap;
    margin-bottom: 40px;
    text-align: left;

    h2 {
        @include size-weight(1rem, 300);
        text-transform: uppercase;
        margin-bottom: 15px;
        position: relative;

    &::before {
        @include height-width(3px, 40px);
        position: absolute;
        content: "";
        bottom: -8px;
        background: $ligth-green;
        }
    }

    .dishes {
        @include flex-space-between(center);
        border-radius: 15px;
        background-color: $white;
        box-shadow: $shadow-dishes;
        cursor: pointer;

        &__content {
            @include background-padding($white, 10px);
            @include flex-space-between(flex-end);
            width: 100%;
            min-width: 20px;
            border-radius: 15px;

            .content__text {
                @include flex-column(5px);
                min-width: 20px;
        
                h3 {
                    @include size-weight(1.125rem, 500);
                    @include text-overflow;
                }

                p {
                    @include size-weight(0.94rem, 300);
                    @include text-overflow;
                }
            }

            .content__price {
                @include size-weight(0.94rem, 700);
                transform: translateX(55px);

                @include media-very-small {
                    transform: translateX(50px);
                }
            }
        }
    }
}

