.fa-heart-full {
    background: $gradient;
    background-clip: text;
    color: transparent;
    opacity: 0;
    z-index: 10;
    transition: 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }
}