.loader {
    @include height-width(100%, 100%);
    background-color: $transparent-grey;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    animation: stop 3s forwards;

    &__position {
        height: 100vh;
        display: flex;
        @include childcenter;
    }

    &__content {
        @include flex-space-between(center);
        width: 110px;
  
        div {
            @include height-width(20px, 20px);
            background-color: $ligth-green;
            border-radius: 50%;
            animation: grow-shrink 1.5s infinite;
        
            &:nth-child(1) {
            animation-delay: 0s;
            }
        
            &:nth-child(2) {
            animation-delay: 0.3s;
            }
        
            &:nth-child(3) {
            animation-delay: 0.6s;
            }
        }
    }
}

@keyframes grow-shrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes stop {
    100% {
        visibility: hidden;
        }
}