*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    text-align: center;
    font-family: $font-main;
    position: relative;
}