// Section location
.location {
    @include childcenter;
    display: flex;
    height: 50px;
    background-color: $grey-location;
    position: relative;
    
    &::before {
        @include shadow-before(2px, $shadow-thin);

        @include media-tablet {
            display: none;
        }
    }

    &__input {
        @include size-weight(1rem, 500);
        border: none;
        outline: none;
        background-color: $grey-location;
        color: $dark-grey;
        text-align: center;
        width: 65%;

        &::placeholder {
            color: $dark-grey;
        }
    }

    &__icon {
        color:$dark-grey;
    }
}

// Section intro
.intro {
    @include background-padding($light-grey, 50px 30px 60px 30px);
    @include childcenter;
    @include flex-column(30px);
    position: relative;

    &::before {
        @include shadow-before(4px, $shadow-thick);

        @include media-tablet {
            display: none;
        }
    }

    &__title {
        @include size-weight(1.5rem, 700);
    }

    &__content {
        @include size-weight(1.125rem, 300);
        color: $dark-grey;
    }

    &__link {
        @include button(15px 22px);
    }
}

// Section functioning
.functioning {
    padding: 60px 20px;

    &__title {
        text-align: left;
        margin-bottom: 30px;
    }

    &__list {
        @include childcenter;
        @include flex-column(25px);

        @include media-tablet {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    @include media-tablet {
        padding: 50px;
    }

    @include media-desktop {
        padding: 60px 130px;
    }

    @include media-desktop-large {
        padding: 60px 345px;
    }
}

// Section restaurants
.restaurants {
    @include background-padding($light-grey, 60px 20px);

    &__title {
        text-align: left;
        margin-bottom: 20px;
    }

    &__card {
       @include childcenter;
       @include flex-column(15px);

       @include media-tablet {
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
       }
       
       a {
            width: 100%;

            @include media-tablet {
                width: 45%;
            }

            @include media-desktop-large {
                max-width: 490px;
            }
        }
    }

    @include media-tablet {
        padding: 50px;
    }

    @include media-desktop {
        padding: 60px 130px;
    }

    @include media-desktop-large {
        padding: 60px 345px;
    }  
}