// Section cover
.cover {
    height: 30vh;

    &__image {
        @include height-width(100%, 100%);
        object-fit: cover;
    }

    @include media-tablet {
        height: 62vh;
    }
}

// Section menu

.menu-container {
    @include media-desktop {
        max-width: 1055px;
        margin: 0 auto;
    }
}

.menu {
    @include background-padding($light-grey, 35px 12px 40px 12px);
    @include radius-top(40px);
    transform: translateY(-40px);
    margin: 0 auto -40px;

    &__title {
        position: relative;

        h1 {
            @include fontshrikhand(1.75rem);
            text-align: left;
            margin-bottom: 40px;

            @include media-very-small {
                font-size: 1.22rem;
            }

            @include media-tablet {
                text-align: center;
            }
        }

        .fa-heart {
            @include heart(0, 87.5%, -50%);

            @include media-very-small {
                font-size: 1rem;
                left: 95%;
            }

            @include media-tablet {
                left: 85%;
            }

            @include media-desktop {
                left: 75%;
            }
        }
    }

    &__link {
        @include button(15px 50px);
        display: inline-block;
    }

    @include media-tablet {
        padding-left: 160px;
        padding-right: 160px;
    }
}
