.collapse-about {
    @include childcenter;
    @include flex-column;
    margin: 0 auto;
    padding: 0 100px;
    max-width: 1023px;

    @include media-tablet {
        padding: 0 50px;
    }

    @include media-mobile {
        padding: 0 20px;
    }

    .collapse-header {
        border-radius: 5px;

        h2 {
            @include h2-collapse(1.5rem);

            @include media-tablet {
                font-size: 1.125rem;
            }
        }
    }
}

.collapse-apartment {
    display: flex;
    gap: 50px;

    @include media-mobile {
        display: block;
    }

    .collapse-header {
        border-radius: 10px;

        h2 {
            @include h2-collapse(1.125rem);

            @include media-mobile {
                font-size: 0.813rem;
            }
        }
    }


    li {
        @include size-weight(1.125rem, 400);

        @include media-mobile {
            font-size: 0.75rem;
        }
    }
}

.collapse {
    width: 100%;
    margin-bottom: 35px;

    @include media-tablet {
        margin-bottom: 20px;
    }
}

.collapse-header {
    @include width-height(100%, 52px);
    @include flex-justify-content(space-between);
    align-items: center;
    background-color: $red;
    z-index: 10;

    @include media-mobile {
        height: 30px;
    }

    .arrow {
        @include width-height(24px, 13.71px);
        cursor: pointer;
        padding: 0 20px;
        transition: transform 0.3s ease;
        transform: rotate(0deg);

        @include media-mobile {
            @include width-height(16px, 9.14px);
        }
    }

    .arrow.open {
        transform: rotate(180deg);
    }
}

.collapse-content {
    @include background-color-border-radius-padding($grey-collapse, 0 0 5px 5px, 20px);
    line-height: $line-height;

    @include media-mobile {
        line-height: 110%;
    }

    p {
        @include size-weight(1.125rem, 400);

        @include media-mobile {
            font-size: 0.75rem;
        }
    }
}

.collapse-content.open {
    animation: slideDown 0.3s ease-out forwards;
    display: flex;
}

.collapse-content.close {
    animation: slideUp 0.3s ease-out forwards;
    display: none;
}

@keyframes slideDown {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}