.host {
    @include flex-justify-content(flex-end);
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    @include media-mobile {
        margin-bottom: 0;
    }

    .host-name {
        @include color-font-size($red, 1.125rem);
        width: 50%;
        text-align: right;

        @include media-mobile {
            font-size: 0.75rem;
        }
    }
    .host-picture {
        @include width-height(64px, 64px);
        border-radius: 50%;

        @include media-mobile {
            @include width-height(32px, 32px);
        }
    }
}

