.slideshow {
    position: relative;
    margin-bottom: 25px;
    box-sizing: border-box;

    @include media-mobile {
        margin-bottom: 15px;
    }
    
   .slideshow-image {
        max-height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        @include media-mobile {
            max-height: 255px;
        }
    }

    .slideshow-image.active {
        animation: fadeIn 0.5s ease-in-out;
        opacity: 1;
        position: relative;
    }

    .arrow-left, .arrow-right {
        @include position-arrows-slideshow;

        @include media-tablet {
            width: 4%;
        }

        @include media-mobile {
            width: 2.2%;
            padding: 5px;
        }
    }

    .arrow-right {
        right: 0;
    }

    .numbering {
        @include color-font-size($white, 1.125rem);
        @include position-absolute-bottom-left(30px, 50%);
        transform: translateX(-50%);

        @include media-mobile {
            display: none;
        }
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


