.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    li {
        @include size-weight(0.875rem, 700);
        @include background-color-border-radius-padding($red, 10px,5px 35px);
        color: $white;

        @include media-tablet {
            @include font-size-padding(0.75rem, 5px 20px);
        }

        @include media-mobile {
            @include font-size-padding(0.625rem, 5px 15px);
        }

        @include media-small-mobile {
            @include font-size-padding(0.5rem, 5px 10px);
        }
    }
}